<!-- _includes/head.html -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="uHtaqgC1462eU4zugLCzNovZZ0OQx_UEUFgCYj_4IEg" />
    
    <title>{{ page.title }} | {{ site.title }}</title>
  
    <!-- Minima Theme CSS -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  
    <!-- カスタムダークテーマ -->
    <link rel="stylesheet" href="{{ '/assets/css/custom-dark.css' | relative_url }}">
  
    <!-- Prism.js VSCode Dark CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/prism-vsc-dark-plus.css' | relative_url }}">

    <!-- Prism.js core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

    <!-- Bash language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js"></script>

    <!-- JSON language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-json.min.js"></script>

    <!-- Python language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>

    <!-- C language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>

    <!-- C++ language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-cpp.min.js"></script>

    <!-- Verilog language -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-verilog.min.js"></script>
    <!-- Embedly Cards -->
    <div class="embedly-wrapper">
      <!-- Embedly Cards -->
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      <link rel="stylesheet" href="{{ '/assets/css/embedly-custom.css' | relative_url }}">
    </div>

    <!-- Setting MathJax -->
    <script>
        window.MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
          }
        };
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>

    <!-- Feed -->
    {% feed_meta %}
  
    {% seo %}
  
</head>

