.embedly-card {
    background-color: #e8e8e8b2;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    max-width: 1000px;
  }
  
.embedly-card img {
  max-width: 100%; /* embedly-card内で幅を制限 */
  height: auto;    /* アスペクト比を維持 */
}